.book-container {
    max-width: 1300px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #f9f9f9;
    font-family: 'Georgia', serif;
}

.book-content {
    line-height: 1.6;
    font-size: 18px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* General Button Styles */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

/* Header Styles */
h1, h2, h3 {
    color: #333;
    font-family: 'Arial', sans-serif;
}

/* Link Styles */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Navigation Styles */
.nav-link {
    padding: 10px;
    color: #007BFF;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #0056b3;
}

.course-container {
    max-width: 1500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #f9f9f9;
}

.course-container h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.course-container h3 {
    font-size: 1.8em;
    margin-top: 30px;
}

.course-container .list-group {
    margin-top: 10px;
}

.course-container .btn {
    margin-left: 10px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.95rem;
    color: #555;
}

.btn-primary {
    background-color: #007BFF;
    border-color: #007BFF;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
}

/* Responsive Adjustments */
@media (max-width: 767.98px) {
    .card-title {
        font-size: 1.1rem;
    }

    .card-text {
        font-size: 0.9rem;
    }
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    flex: 1;
}

footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
}

.sidebar {
    width: 220px;
    height: 100vh; /* Full viewport height */
    background-color: #f8f9fa; /* Light background for contrast */
    margin-top: 65px;
}

/* Restrict the width of the flash messages and center them */
.alert-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Adjust the flash message styling */
  .alert {
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
  }